
.mobile-options{
    display: none;
    list-style-type: none;
    flex-direction: column;
    
    align-items: center;
    top: 8;
    left: 40%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    transition: visible 1s;

}
.mobile-visible{
    display: flex;
    visibility: visible;
    transition: visible 1s;

}
@media (min-width:1050px)  {
    .option a{
        color: white;
    }
}