.option a{
    text-decoration: none;
    color: #4a4848;
    font-size: 12px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 400;
    line-height: 32px;
}
.option a:hover{
    color: #3ac280;
}
@media (max-width:1200px){
    .options{
        display: none;
    }
    .toggle{
        /* margin-top: 16px; */
        display: block;
    }
}
@media (min-width:1050px)  {
    .option a{
        color: white;
    }
}