
.title_description{
    font-size: 16px;
    letter-spacing: -0.19px;
    text-align: left;
    font-weight: 400;
   
    line-height: 34px;
}
.text-center{
    text-align: center;
}
.wid-parent{
    width: inherit;

}
.overflow-wrap{
    overflow-wrap: break-word;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.col-md-6{
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .col-md-6 {
        /* -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%; */
        max-width: 50%;
    }
    .title_description{
        padding-top: 19%;
    }
}
@media screen  and (max-width: 768px){
.row {
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.col-sm-12{
    /* -webkit-box-flex: 0; */
    /* flex: 0 0 100%; */
    max-width: 100%;
   
}
}
@media (min-width: 401px) and (max-width: 768px){

}